<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">DZ1</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">Begin</a>
          <a [routerLink]="'/ent_ext'" class="nav-link active" aria-current="page">Entity Extraction</a>
          <a [routerLink]="'/text_sim'" class="nav-link active" aria-current="page">Text Similarity</a>
        </div>
        <div class="d-flex">
          <span>Token: {{ getToken() }}</span>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
