<div class="container">
  <div class="row">
    <label>Check similarity between two texts:</label>
    <div class="col-sm">
      <form>
        <div class="form-group">

          <textarea class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Check similarity!</button>
      </form>
    </div>
    <div class="col-sm">
      <form>
        <div class="form-group">
          <textarea class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </textarea>
        </div>

      </form>
    </div>
  </div>
</div>
